@use '../utils'as *;
@use "sass:color";

.burger-container {
  padding: 1em;
  width: 50px;
  height: 50px;

  .burger {
    position: absolute;
    background-color: grey;
    width: 26px;
    height: 5px;
    top: 20px;
    transition: all 1s ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 30px;
      height: 5px;
      background-color: grey;
      transition: all 1s ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 30px;
      height: 5px;
      background-color: grey;
      transition: all 1s ease;
    }
  }

  &.show {
    .burger {
      background: transparent;
      transform: rotate(360deg);

      &::before {
        transform: translate(0, 8px) rotate(45deg);
      }

      &::after {
        transform: translate(0, -8px) rotate(-45deg);
      }
    }
  }
}

.three-dots-container {
  padding: 1em;

  .three-dots {
    position: absolute;
    background-color: grey;
    width: 5px;
    height: 5px;
    border-radius: 7px;
    transition: all 1s ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 5px;
      height: 5px;
      border-radius: 7px;
      background-color: grey;
      transition: all 1s ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 5px;
      height: 5px;
      border-radius: 7px;
      background-color: grey;
      transition: all 1s ease;
    }
  }
}

.clear-btn {
  @include setColors(grey);
  @include styleFont(1em);

  border: none;
  width: 100%;
  height: 3em;
}
