@use '../utils/'as *;

.task-element {
  @include flexCenter(row);
  @include setColors('', white);

  justify-content: space-between;
  width: 100%;
  height: 3em;
  animation: change-color 0.2s ease-in-out, drag-over 0.1s ease-in;
  transform: scale(1);
  cursor: grab;

  &.drag {
    @include colorChangeAnimation(change-color, white, green);
    //@include scaleChangeAnimation(change-color, 1, 1.2);

    transform: scale(1.1);
    background-color: rgba($color: #8af087b0, $alpha: 1);
    cursor: grabbing;
  }

  &.over {
    background-color: cornflowerblue;
  }

  &.edit {
    background-color: rgba($color: #f7caa0, $alpha: 0.5);
  }

  .checkbox-description-container {
    @include flexCenter(row);

    justify-content: flex-start;
    padding: 0 1em;
    gap: 1em;
    width: 80%;
    height: 100%;
    cursor: auto;

    p {
      @include flexCenter;

      align-items: flex-start;
      width: 100%;
      height: 100%;

      &.checked {
        text-decoration: line-through;
        color: grey;
      }
    }
  }
}
