@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');

$main-font-color: #222;
$main-background-color: #f6f6f6;
$second-background-color: #2e8ae6;
$main-font: 'Open Sans', 'Lucida Grande', tahoma, verdana, arial, sans-serif;
